nav{
    display: inline;
}

#nav-bar div{
    color: white;
    background-color: navy;
}
.hidden{
    display: none;
}
.topnav a {
  /* float: left; */
  color: #f2f2f2;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 17px;
}
